[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
autopep8 = "*"

[packages]
urllib3 = "1.26.5"
flask = "*"
requests = "*"
fake-useragent = "*"
schedule = "*"

[requires]
python_version = "3.8"
